body{
				margin:0%;
				padding: 0%;
				border:0%;
				font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* pagina completa*/
.pagina{
	width: 100%;
	height: 100%;
	display:flex;
	color:white;
	background-color: #df4d4d;
}

/*div padrao topo da pag*/
.cabecario{
	width: 100%;
	height: 30%;
	background-color: #b3b3;
	padding: 2%;
	margin-bottom: 5%;
	display: block;	
	position: absolute;				
}
.cabecario img{
	height: 20pt;
	width: 20pt;
}
.tituloPrincipal{
				color: #3399cc;
				margin-top: -10px;
				text-decoration:none;
				
}
/*.figura{
				padding: 0%;
				width: 50pt;
				height:50pt;
}
#foto{
				width: 100%;
				height: 100%;
				border: solid 1px #3399cc;
				
				
}
.container{
				width: 100%;
				
}





.pagina ul{
				margin:0%;
				margin-top: 5%;
				padding: 0%;
				width: 100%;
}
.pagina li{
    border:solid 2px #3399cc;
    list-style: none;
    text-decoration:none;
    padding: 10%;
    text-align: center;
}
.pagina ul li:hover{
				transition: 0.3s;
				transform; scale(1.5) rotate(1.5deg);
				-webkit-transform:scale(1.5) rotate(5deg); 
    -moz-transform:scale(1.5) rotate(5deg); 
   	-o-transform:scale(1.5) rotate(5deg);
    
}
*/
/* menu para todas as paginas						
						 */
/*.box{
				display:flex;
				padding:2%;
}
.menupagina{
				color:#3399cc;
				background-color: #c3c3c3;
				width: 35%;
			 float:left;
}
.menupagina ul{
				padding:0%;
}
.menupagina li{
    border:solid 2px #3399cc;
    list-style: none;
    text-decoration:none;
 		 padding:3%;
  		text-align: center;
  		width: 100%;
}
.menupagina ul li:hover{
				transition: 0.2s;
				transform; scale(1.5) rotate(5deg);
				-webkit-transform:scale(1.5) rotate(5deg); 
    -moz-transform:scale(1.5) rotate(5deg); 
   	-o-transform:scale(1.5) rotate(5deg);
    
}


.conteudo{
    
				width: 60%;
				float: right;
				text-align: center;
			 
			 
}
.conteudo ul{
				padding: 0%;
				margin:0%;
				list-style: none;
				width: 80%;
				
				
}
.conteudo ul li{
				text-decoration: none;
				text-align: center;
				padding: 20%;
				margin-right: 10%;
				margin-left: 10%;
				border: solid 5px #3399cc;
				width: 100%;
				background: #c3c3c3;
}
//pag edit portifólio*/
/*.conteuda{
				background: red;
				color: white;
				padding:4%;
}*/
