<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/estilo.css" type="text/css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title> Minha Agenda</title>
</head>

<body>
<style>
/*div padrao topo da pag*/
.cabecario{
	width: 100%;
	height: 150px;
    color: #3399cc;
	background-color: rgba(187, 51, 187, 0.2);
	padding: 0%;
	position:relative;	
	display: block;
    text-align:center;			
}
.foto34{
	margin-top:0px;
    margin;0px;
    padding:0px;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px #3399cc;
}




</style>
	<div class="pagina">


		<div class="cabecario">
			<figure >
				<a href="../index.html">
					<img class="foto34 w3-left" src="img/IMG-20211015-WA0012.jpg" alt="Irenita-fotobonita">
				</a>
			</figure>

			<div class="tituloPrincipal w3-center ">
				<a href="quemsoueu.html">
					<h1>
						Irenita Ferreira Lopes
					</h1>
				</a>
			</div>
		</div>


<!--menu-->

        <nav class="menupag">
            <ul class="w3-padding">
                <a href="quemsoueu.html">
                    <li>
                        Quem Sou Eu
                    </li>
                </a>
    
                <a href="habilidades.html">
                    <li>
                        Habilidades
                    </li>
                </a>
    
                <a href="experiencias.html">
                    <li>
                        Experiências Profissionais
                    </li>
                </a>
    
                <a href="portifolio.html">
                    <li>
                        Portifólio
                    </li> 
                    
                <a href="contatos.html">
                    <li>
                        Contatos
                    </li>
                </a>
    
                <a href="agenda.html">
                    <li>
                        Agenda
                    </li>
                </a>
    
            </ul>
        </nav>


<!--conteúdo-->

<div class="conteudo">
    <h4>
                    Minha Agenda
    </h4>
    <ul>
                    <li>
                                    8:00 - Cuidar de diana
                    </li>
                    
                    <li>
                                    9:00 - Limpar a casa
                    </li>
                    
                    <li>
                                 19:00 -	Singularidades
                    </li>
                    
                    <li>
                                qua (23/10) - Prova de direção	
                    </li>
    </ul>
</div> 

</div>
</body>
</html>