<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/estilo.css" type="text/css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title> Portifólio</title>
</head>

<body>
<style>
/*div padrao topo da pag*/
.cabecario{
	width: 100%;
	height: 150px;
    color: #3399cc;
	background-color: rgba(187, 51, 187, 0.2);
	padding: 0%;
	position:relative;	
	display: block;
    text-align:center;			
}
.foto34{
	margin-top:0px;
    margin;0px;
    padding:0px;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px #3399cc;
}




</style>
	<div class="pagina">


		<div class="cabecario">
			<figure >
				<a href="../index.html">
					<img class="foto34 w3-left" src="img/IMG-20211015-WA0012.jpg" alt="Irenita-fotobonita">
				</a>
			</figure>

			<div class="tituloPrincipal w3-center ">
				<a href="quemsoueu.html">
					<h1>
						Irenita Ferreira Lopes
					</h1>
				</a>
			</div>
		</div>


<!--menu-->

        <nav class="menupag">
            <ul class="w3-padding">
                <a href="quemsoueu.html">
                    <li>
                        Quem Sou Eu
                    </li>
                </a>
    
                <a href="habilidades.html">
                    <li>
                        Habilidades
                    </li>
                </a>
    
                <a href="experiencias.html">
                    <li>
                        Experiências Profissionais
                    </li>
                </a>
    
                <a href="portifolio.html">
                    <li>
                        Portifólio
                    </li> 
                    
                <a href="contatos.html">
                    <li>
                        Contatos
                    </li>
                </a>
    
                <a href="agenda.html">
                    <li>
                        Agenda
                    </li>
                </a>
    
            </ul>
        </nav>


<!--conteúdo-->


<div class="conteudo">
    <h4>
                    Portifólio
    </h4>
    
    <p>
                    Produções que desenvolvi ou participei na minha trajetória.
    </p>
    
    <a href="https://youtu.be/YMBcHOI7VE0">Participação de documentário sobre arte de rua</a>
    <br>
    <br>
    <a href="https://www.youtube.com/watch?v=__JP4470_2M&list=LL&index=167&t=32s"> Entrevista sobre Slan em Cotia</a>
    
   <br>
   <br>
   <a href="https://www.youtube.com/watch?v=5O9f-ddsgRw&list=LL&index=261">Participação de evento de arte de rua</a>
   
   <br>
   <br>
   <a href="https://www.youtube.com/watch?v=fGTDEtEnO54&list=PLBEt931dnM5aZyyRotMwTMENJZmmeh1UH">Atuação em Curta sobre arte contemporânea produzida por mulheres</a>
</div>
</div>



</div>
</body>
</html>