<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/estilo.css" type="text/css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title> Quem Sou </title>
</head>

<body>
<style>
/*div padrao topo da pag*/
.cabecario{
	width: 100%;
	height: 150px;
    color: #3399cc;
	background-color: rgba(187, 51, 187, 0.2);
	padding: 0%;
	position:relative;	
	display: block;
    text-align:center;			
}
.foto34{
	margin-top:0px;
    margin;0px;
    padding:0px;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px #3399cc;
}




</style>
	<div class="pagina">


		<div class="cabecario">
			<figure >
				<a href="../index.html">
					<img class="foto34 w3-left" src="img/IMG-20211015-WA0012.jpg" alt="Irenita-fotobonita">
				</a>
			</figure>

			<div class="tituloPrincipal w3-center ">
				<a href="quemsoueu.html">
					<h1>
						Irenita Ferreira Lopes
					</h1>
				</a>
			</div>
		</div>




        <nav class="menupag">
            <ul class="w3-padding">
                <a href="quemsoueu.html">
                    <li>
                        Quem Sou Eu
                    </li>
                </a>
    
                <a href="habilidades.html">
                    <li>
                        Habilidades
                    </li>
                </a>
    
                <a href="experiencias.html">
                    <li>
                        Experiências Profissionais
                    </li>
                </a>
    
                <a href="portifolio.html">
                    <li>
                        Portifólio
                    </li> 
                <a href="contatos.html">
                    <li>
                        Contatos
                    </li>
                </a>
    
                <a href="agenda.html">
                    <li>
                        Agenda
                    </li>
                </a>
    
            </ul>
        </nav>







        <div class="conteudo" >
            <h4 >
                   <b >Sika Lopes</b>
                   <br>
                       Nascida no suburbio nos melhores dias <br>
                       com votos da família de vida feliz
               <br>
                   andar e pilotar um passaro de aço
               <br>
                   sonhava ao fim do dia ao me vencer o cansaço
               <br>
                   com a farda mais bonita desse meu país					
            </h4>
       </div>
       





    </div>
</body>
</html>